<!DOCTYPE html>
<html lang="en">
<head>
<title>MBA EXAMS Study materials</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="MBA EXAMS Study materials, STCW Basic, CERTIFICATIONS, CAREER COUNSELLING">
<meta name="keywords" content="MBA EXAMS Study materials, MBA EXAMS Study materials in Nagercoil STCW">
<meta name="author" content="www.spicycareers.com">

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/flexslider.css" rel="stylesheet">
</head>

<body ng-app="learn">
<div class="container-fluid">
<header>
    
    <div class="mob-menu  ">
        <b>Menu <i onclick="hideMenu()" class="fa fa-times"></i></b>
            <ul>
                <li onclick="hideMenu()"><a href="index.html">Home</a></li>
                <li onclick="hideMenu()"><a href="products.html">Products</a></li>
                <li onclick="hideMenu()"><a href="aboutus.html">About Us</a></li>
                <li onclick="hideMenu()"><a href="contactus.html">Contact Us</a></li>
        
        </ul>
    
    </div>
    
    
    
    <div class="lin">
        <div class="container"> <span> </span> <span style="margin-left:15px;"> Email : info@careerdeals.com</span>
            <ul style="z-index:0" class="head-sm hidden-xs">
                <li> <i class="fa fa-twitter"></i> </li>
                <li> <i class="fa fa-google-plus"></i> </li>
                <li> <i class="fa fa-pinterest-p"></i> </li>
                <li> <i class="fa fa-linkedin"></i> </li>
                <li> <i class="fa fa-facebook"></i> </li>
            </ul>
            
           
        </div>
    </div>
    <div class="menu shado-3">
        <div style="z-index:0"  class="container ">
            <div class="col-sm-4"> <i class="fa fa-leanpub"></i> <b class="lo-tst">careerdeals.com</b> 
                
                <i onclick="showMenu()" style="float:right; font-size:22px; margin-top:22px;" class="fa fa-list visible-xs cp"></i> </div>
            <div class="col-sm-8">
                <nav class="hidden-xs">
                    <ul>
                        <li onclick="hideMenu()"><a href="contactus.html">Contact Us</a></li>
                        <li onclick="hideMenu()"><a href="products.html">Products</a></li> 
                        <li onclick="hideMenu()"><a href="aboutus.html">About Us</a></li>
                        <li onclick="hideMenu()"><a href="index.html">Home</a></li>
                    </ul>
                </nav>
                
                
            </div>
             
        </div>
    </div>
</header>


<!--************************** Header Ends Here *******************************-->


<div class="" ng-controller="productCtrl">












    <div class="container">
        
        
        
        <br>
        <div  class="row">
        
        <h3 style="font-weight:600; font-size:16px; margint-top:20px;"> <a style="margin-top:20px;">Our Other Produts</a></h3>
        </div>
 
        
             <div data-sr="enter left, hustle 40px" class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a ui-sref="buy"><img src="assets/images/course1.png" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4>MBA EXAMS Study materials</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p> (All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹1850</span> </div>
                        <div class="course-detail-btn"> <a ui-sref="buy" >View More Details</a> <a ui-sref="buy"  style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        
        <div data-sr="enter left, hustle 40px" class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a ui-sref="buy1"><img src="assets/images/c2.png" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4>STCW Basic</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹1550</span> </div>
                        <div class="course-detail-btn"> <a ui-sref="buy1">View More Details</a> <a ui-sref="buy1" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        
        
        
        
        
                <div data-sr="enter left, hustle 40px" class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a href="#"><img src="assets/images/c3.jpg" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4>Bank Exams Study Materials</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹1850</span> </div>
                        <div class="course-detail-btn"> <a href="#">View More Details</a>
                            <a class="cp" ng-click="newEng(3)" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        
       
        
         <div  class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a href="#"><img src="assets/images/c4.jpg" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4>GATE Exam Study Materials</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹550</span> </div>
                        <div class="course-detail-btn"> 
                            <a class="cp" ng-click="newEng(4)">View More Details</a> <a class="cp" ng-click="newEng(4)" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        
         <div  class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a href="#"><img src="assets/images/c10.jpg" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4> NEBOSH Certification</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹1800</span> </div>
                        <div class="course-detail-btn"> 
                            <a class="cp" ng-click="newEng(5)">View More Details</a> <a class="cp" ng-click="newEng(5)" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        <div  class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a href="#"><img src="assets/images/c6.jpg" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4> IIT-HSEE Exam Study Materials</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹550</span> </div>
                        <div class="course-detail-btn">
                            <a ng-click="newEng(6)">View More Details</a> <a class="cp" ng-click="newEng(6)" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        <div data-sr="enter left, hustle 40px" class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a href="#"><img src="assets/images/c9.jpg" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4> BOSIET Certification</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹1800</span> </div>
                        <div class="course-detail-btn">
                            <a ng-click="newEng(7)">View More Details</a> <a class="cp" ng-click="newEng(7)" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        <div data-sr="enter left, hustle 40px" class="col-sm-4 " style="padding:10px;  visibility: visible; ">
                <div class="course shado-3">
                    <div class="thumb"> <a href="#"><img src="assets/images/c8.jpg" alt=""></a> </div>
                    <div class="text">
                        <div class="header">
                            <h4>CLAT Exam Study Materials</h4>
                            <div class="rating"> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i><i class="fa fa-star-half-empty"></i> </div>
                        </div>
                        <div class="course-name">
                            <p>(All taxes inclusive)</p>
                            <span style="float:right;color: #00a685;">₹550</span> </div>
                        <div class="course-detail-btn"> 
                            <a ng-click="newEng()">View More Details</a> <a class="cp" ng-click="newEng(8)" style="float:right;color:red">Buy Now</a> </div>
                    </div>
                </div>
            </div>
        
        
        
        
        
    </div>










    
    <div id="myModal" class="modal fade">
  <div style="width:530px;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please Fill the Details</h4>
          <b id="err" style="color:red; display:none">Pleas Fill all the Fields</b>
      </div>
      <div class="modal-body">
        
          <table class="puptab hidden-xs">
                <tr>
                    <td >Name : <span class="man">*</span></td>
                    <td><input ng-model="enq.name" type="text" placeholder="Name" class="form-control input-sm"></td>
                </tr>
              <tr>
                    <td>Email : <span class="man">*</span></td>
                    <td><input id="email" onblur="return emailCheck('email')" ng-model="enq.email" type="text" placeholder="Email" class="form-control input-sm"></td>
                </tr>
               <tr>
                    <td>Mobile : <span class="man">*</span></td>
                    <td><input onkeypress="return isNumberKey(event)" ng-model="enq.mobile" type="text" placeholder="Mobile" class="form-control input-sm"></td>
                </tr>
              <tr>
                    <td>Degree Studied/Studying : <span class="man">*</span></td>
                    <td><input ng-model="enq.degree" type="text" placeholder="Degree Studied/Studying" class="form-control input-sm"></td>
                </tr>
              
               <tr>
                    <td>Branch : <span class="man">*</span></td>
                    <td><input ng-model="enq.branch" type="text" placeholder="Branch" class="form-control input-sm"></td>
                </tr>
              
               <tr>
                    <td>College Name : <span class="man">*</span></td>
                    <td><input ng-model="enq.college" type="text" placeholder="College Name" class="form-control input-sm"></td>
                </tr>
              
               <tr>
                    <td>Address for Shipment: <span class="man">*</span></td>
                    <td><textarea ng-model="enq.address" placeholder="Address for Shipment" class="form-control input-sm"></textarea></td>
                </tr>
              <tr>
                    <td></td>
                    <td>
                    <button ng-click="submitEnquiry()"  class="btn btn-small btn-success">Submit</button>
                   <button style="margin-left:10px;" data-dismiss="modal" class="btn btn-small btn-danger">Cancel</button>
                  </td>
                </tr>
          
          </table>
          
          
          
          
          
          
          
          
          
          
          <div class="sm-form visible-xs">
          
          
                   
                    <input type="text" placeholder="Name" class="form-control input-sm">
               
                   
                <input type="text" placeholder="Email" class="form-control input-sm">
               <input type="text" placeholder="Mobile" class="form-control input-sm">
                   
                   <input type="text" placeholder="Degree Studied/Studying" class="form-control input-sm">
                  
                 <input type="text" placeholder="Branch" class="form-control input-sm">
          <input type="text" placeholder="College Name" class="form-control input-sm">
          <textarea placeholder="Address for Shipment" class="form-control input-sm"></textarea>
                    
                    <button data-dismiss="modal" class="btn btn-small btn-success">Submit</button>
                   <button style="margin-left:10px;" data-dismiss="modal" class="btn btn-small btn-danger">Cancel</button>
                  
          
         </div>
          
          
          
          
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div id="myModal3" class="modal fade">
  <div style="width:70%" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Submited successfully</h4>
        
      </div>
      <div style="text-align:center" class="modal-body">
        
          
          
          
          
          
          
           <h2> <i class="fa fa-check text-success"></i> &nbsp;&nbsp;  Thanks for your Request We will contact you Soon</h2>  
          
          
          
          
          
          
          
          
          
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>





<!--************************** Body Ends Here *******************************-->

<footer style="margin-top:25px;">

    <div  class="container foot-cont">
        <div class="col-sm-4">
            <b style="font-size: 20px">About Us</b>
            <p style="color: #FFF; font-size: 13px">
              careerdeals.com is an initative started by a group of corporate employees, backed by 10+ member content and technology team has vast experience in test prep coaching and computer based trainig and testing. The career deals advisory board comprises CEO and MD of international educational companies 
            </p>
        </div>
        <div  class="col-sm-3">
            <b style="font-size: 20px">Links</b><br>

            <a ui-sref="home" class="cp" style="font-size:15px; color: #FFF">Home </a><br>
             <a ui-sref="product" class="cp" style="font-size:15px; color: #FFF">Products </a><br>
             <a ui-sref="blog"  class="cp" style="font-size:15px; color: #FFF">Blog</a><br>
             <a ui-sref="about" class="cp" style="font-size:15px; color: #FFF">About Us</a><br>
             <a ui-sref="contact" class="cp" style="font-size:15px; color: #FFF">Contact Us </a><br>

        </div>

        <div  class="col-sm-5 ritonsm">
            <b style="text-align:center; width:100%; margin-left:30%; font-size: 20px">Working Hours</b>
            <ul  style="color: #FFF" class="wh">
                <li>Monday  <b> 9.30 AM to 8.00PM</b></li>
                <li>Tuesday <b> 9.30 AM to 8.00PM</b></li>
                <li>wednesday <b> 9.30 AM to 8.00PM</b></li>
                <li>Thursday <b> 9.30 AM to 8.00PM</b></li>
                <li>Friday <b> 9.30 AM to 8.00PM</b></li>
                <li>Saturday <b> 9.30 AM to 8.00PM</b></li>
            </ul>
        </div>


    </div>

    <div class=" smarti">
        <div class="container">
            <p style="padding-bottom: 0px;">All Rights Reserved &copy; careerdeals.com | Designed &amp; Developed By SmartEye

                <i class="fa fa-twitter fico-s hidden-xs"></i>
                <i class="fa fa-pinterest-p fico-s hidden-xs"></i>
                <i class="fa fa-google-plus fico-s hidden-xs"></i>
                <i class="fa fa-facebook fico-s hidden-xs"></i>







            </p>



        </div>
    </div>

</footer>
 
</div>


<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-ui-router.min.js"></script>
<script src="assets/js/jquery-1.11.1.min.js"></script> 
<script src="assets/js/bootstrap.js"></script> 
<script src="assets/js/jquery.flexslider-min.js"></script> 
<script src="assets/js/script.js"></script>
<script src="assets/js/scrollReveal.js"></script>

<script src="app/app.js"></script>
<script src="app/directives.js"></script>

</body>
</html>
